.banner-ctn {
  height: 400px;
  background: url(../../../images/landing_banner1.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  .banner-content {
    text-align: center;

    h1 {
      font-size: 36pt;
      color: white;
      text-shadow: 1px 1px 3px #007a35;
      margin: 0 0 20px;
      padding: 0;
    }

    .search-btn {
      color: white;
      background-color: #00c756;
      border: none;
    }
  }
}

.content-ctn {
  margin: 0 auto !important;
  max-width: 1400px;
  padding: 50px 0;
  height: 600px;
  background-color: white;

  .ant-divider-horizontal.ant-divider-with-text-center::before,
  .ant-divider-horizontal.ant-divider-with-text-center::after {
    border-top: 1px solid gray;

    mid-grid-title {
      text-align: center;
    }
  }

  .mid-grid {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    .landing-icon {
      font-size: xx-large;
      margin: 10px 0;
    }
  }
}
